misc/acrn-config/schema/VMtypes.xsd

<?xml version="1.0"?>
<xs:schema xml:id="root"
	   xmlns:xs="http://www.w3.org/2001/XMLSchema"
	   xmlns:acrn="http://projectacrn.github.io">

<xs:simpleType name="VmOptionsType">
  <xs:annotation>
    <xs:documentation>Description missing.</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
    <xs:enumeration value="SOS_VM" />
    <xs:enumeration value="SAFETY_VM" />
    <xs:enumeration value="PRE_RT_VM" />
    <xs:enumeration value="PRE_STD_VM" />
    <xs:enumeration value="POST_STD_VM" />
    <xs:enumeration value="POST_RT_VM" />
    <xs:enumeration value="KATA_VM" />
    <xs:enumeration value="PRE_RT_VM" />
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="VmNameLimitation">
  <xs:annotation>
    <xs:documentation>String from 1 to 32 characters long.</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
    <xs:minLength value="1" />
    <xs:maxLength value="32" />
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="GuestFlagsOptionsType">
  <xs:annotation>
    <xs:documentation>Description missing.</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
    <xs:enumeration value="" />
    <xs:enumeration value="0" />
    <xs:enumeration value="0UL" />
    <xs:enumeration value="GUEST_FLAG_SECURE_WORLD_ENABLED" />
    <xs:enumeration value="GUEST_FLAG_LAPIC_PASSTHROUGH" />
    <xs:enumeration value="GUEST_FLAG_IO_COMPLETION_POLLING" />
    <xs:enumeration value="GUEST_FLAG_HIDE_MTRR" />
    <xs:enumeration value="GUEST_FLAG_RT" />
  </xs:restriction>
</xs:simpleType>

<xs:complexType name="GuestFlagsInfo">
  <xs:sequence>
    <xs:element name="guest_flag" type="GuestFlagsOptionsType" maxOccurs="unbounded">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
  <xs:assert test="count(guest_flag) eq count(distinct-values(guest_flag))"/>
</xs:complexType>

<xs:complexType name="CpuAffinityConfiguration">
  <xs:sequence>
    <xs:element name="pcpu_id" type="xs:integer" maxOccurs="unbounded">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="ClosConfiguration">
  <xs:sequence>
    <xs:element name="vcpu_clos" type="xs:integer" maxOccurs="unbounded">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="EpcSection">
  <xs:annotation acrn:configurable="n">
    <xs:documentation>epc section.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="base" type="xs:integer" default="0">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="size" type="xs:integer" default="0">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="MemoryInfo">
  <xs:sequence>
    <xs:element name="start_hpa" type="HexFormat">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="size" type="MemorySizeType">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="start_hpa2" type="HexFormat" minOccurs="0">
      <xs:annotation acrn:configurable="n">
        <xs:documentation>Start of second HPA for non-contiguous allocations in host for the VM.</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="size_hpa2" type="MemorySizeType" minOccurs="0">
      <xs:annotation acrn:configurable="n">
        <xs:documentation>Memory size of second HPA for non-contiguous allocations in Bytes for the VM.</xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="OsConfigurations">
  <xs:sequence>
    <xs:element name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="kern_type" type="VmKernelType">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="kern_mod" type="xs:string">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="ramdisk_mod" type="xs:string">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="bootargs" type="xs:string">
      <xs:annotation acrn:configurable="../../vm_type[starts-with(text(), 'PRE')]">
        <xs:documentation>Configurable boot argument for pre-launched VM of hybrid or hybrid_rt mode.</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="kern_load_addr" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="kern_entry_addr" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<xs:simpleType name="VmKernelType">
  <xs:annotation>
    <xs:documentation>Description missing.</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
    <xs:enumeration value="KERNEL_BZIMAGE" />
    <xs:enumeration value="KERNEL_ZEPHYR" />
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="LegacyVuartType">
  <xs:annotation acrn:configurable="n">
    <xs:documentation>vCOM type</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
    <xs:enumeration value="VUART_LEGACY_PIO" />
    <xs:enumeration value="VUART_PCI" />
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="LegacyVuartBase">
  <xs:annotation>
    <xs:documentation>vUART (A.K.A COM) enabling switch. Enable by exposing its base address, disable by returning INVALID_COM_BASE.</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
    <xs:enumeration value="SOS_COM1_BASE" />
    <xs:enumeration value="SOS_COM2_BASE" />
    <xs:enumeration value="COM1_BASE" />
    <xs:enumeration value="COM2_BASE" />
    <xs:enumeration value="COM3_BASE" />
    <xs:enumeration value="COM4_BASE" />
    <xs:enumeration value="INVALID_COM_BASE" />
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="LegacyVuartIrq">
  <xs:annotation acrn:configurable="n">
    <xs:documentation>vCOM irq</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
    <xs:enumeration value="SOS_COM1_IRQ" />
    <xs:enumeration value="SOS_COM2_IRQ" />
    <xs:enumeration value="COM1_IRQ" />
    <xs:enumeration value="COM2_IRQ" />
    <xs:enumeration value="COM3_IRQ" />
    <xs:enumeration value="COM4_IRQ" />
    <xs:enumeration value="CONFIG_COM_IRQ" />
    <xs:enumeration value="3" />
    <xs:enumeration value="4" />
    <xs:enumeration value="6" />
    <xs:enumeration value="7" />
  </xs:restriction>
</xs:simpleType>

<xs:complexType name="LegancyVuartConfiguration">
  <xs:sequence>
    <xs:element name="type" type="LegacyVuartType">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="base" type="LegacyVuartBase">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="irq" type="LegacyVuartIrq">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="target_vm_id" type="xs:integer" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="target_uart_id" type="xs:integer" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
  <xs:attribute name="id" type="xs:string" use="required"/>
</xs:complexType>

<xs:simpleType name="PciVuartBase">
  <xs:annotation>
    <xs:documentation>Description missing.</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
    <xs:enumeration value="PCI_VUART" />
    <xs:enumeration value="INVALID_PCI_BASE" />
  </xs:restriction>
</xs:simpleType>

<xs:complexType name="ConsoleVuartConfiguration">
  <xs:sequence>
    <xs:element name="base" type="PciVuartBase">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
  <xs:attribute name="id" type="xs:string" use="required"/>
</xs:complexType>

<xs:complexType name="CommunicationVuartConfiguration">
  <xs:sequence>
    <xs:element name="base" type="PciVuartBase">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="target_vm_id" type="xs:integer">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="target_uart_id" type="xs:integer">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
  <xs:attribute name="id" type="xs:string" use="required"/>
</xs:complexType>

<xs:complexType name="MmioResourcesConfiguration">
  <xs:sequence>
    <xs:element name="TPM2" type="Boolean" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="p2sb" type="Boolean" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="PciDevsConfiguration">
  <xs:sequence>
    <xs:element name="pci_dev" type="xs:string" maxOccurs="unbounded">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="BoardPrivateConfiguration">
  <xs:sequence>
    <xs:element name="rootfs" type="xs:string">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="bootargs" type="xs:string">
      <xs:annotation>
        <xs:documentation>Description missing.</xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>

</xs:schema>
